<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Ben White</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" ng-controller="HomePageController as ul" ng-cloak >

  <md-content flex layout="column" tabIndex="-1" role="main">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1>Ben White</h1>
    </md-toolbar>

    <md-content class="md-padding" id="content">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Summary">
          <md-content class="md-padding">
            <h3 class="md-display-2 tabHeading">Summary</h3>
            <md-content layout="row" flex>
              <md-content layout="column" layout-align="start start" flex="65">
                <md-content layout="row" layout-align="space-between center">
                  <h6 class="md-subhead zeroMargin"><b>Name:</b>  Ben White</h6>
                </md-content>
                <md-content layout="row" layout-align="space-between center">
                  <h6 class="md-subhead zeroMargin"><b>Email:</b>  benjamtw@gmail.com</h6>
                </md-content>
                <md-content layout="row" layout-align="space-between start">
                  <h6 class="md-subhead zeroMargin"><b>Current Employer:</b> {{ul.workExp[0].company}}</h6>
                </md-content>
                <md-content layout="row" layout-align="space-between center">
                  <h6 class="md-subhead zeroMargin"><b>Current Position:</b>  {{ul.workExp[0].position}}</h6>
                </md-content>
                <div class="horizontalLine" style="margin:16px 0; margin-left: 16px; width:80%;"></div>
                <md-content layout="column" layout-align="space-between start">
                  <p class="md-body-1">     
                     I am currently a Software Engineer for Disney Parks and Resorts Digital, working on back end service code in the Cart/Checkout space of the theme park sales sites. We work primarily with a LAMP stack, running Java7-8/Spring services on the backend. I also have experience coding in Javascript on the front and backend using Node.js and Express.js. Lastly, I have worked doing web UI and REST service testing using a Python test framework I designed with Selenium Web Driver and py.test.
                  </p>
                  <p class="md-body-2">
                    I'm looking for a software engineering position where I can grow my skillset to solve interesting problems while working for a company that develops quality products.
                  </p>
                </md-content>
              </md-content>
              <md-content layout="column" layout-align="start center">
                <img src="/assets/portrait.jpg" style="width:50%;">
              </md-content>
            </md-content>
          </md-content>
        </md-tab>
        <md-tab label="Skills">
          <md-content class="md-padding">
            <h3 class="md-display-2 tabHeading">Skills</h3>
            <div layout="row" layout-align="space-between start" flex>
              <div layout="column" layout-align="space-between  start" flex>
                <h2 style="margin-bottom: 8px;">Languages</h2>
                <md-list flex="80" style="padding:0;">
                  <md-list-item ng-repeat="lang in ul.skills.languages" layout="column" layout-align="space-around start" flex style="padding:0;">
                    <h3>{{lang.name}}</h4>
                    <md-progress-linear md-mode="determinate" value="{{lang.skill}}" ng-style={"width":"{{ul.winWidth*0.37}}"}></md-progress-linear flex>
                  </md-list-item>
                </md-list>
              </div>
              <div class="line" style="top:150px; height:40%;"></div>
              <div layout="column" layout-align="space-between start" flex="40">
                <h2>Libraries</h2>
                <md-chips class="custom-chips" ng-model="ul.skills.libraries" readonly=true >
                  <md-chip-template>
                    <span style='margin-left:15px'>
                      {{$chip.name}}
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Work Experience">
          <md-content class="md-padding">
            <h3 class="md-display-2 tabHeading">Work Experience</h3>
            <md-list>
              <md-list-item ng-repeat="itr in ul.workExp">
                <div layout="row" layout-align="space-between start">
                  <md-whiteframe class="md-whiteframe-2dp" layout="column" layout-align="left center" style="margin:30px;  width:300px;">
                    <span style="display: block; background-color: rgb(33, 150, 243); color:white; font-weight: 700; line-height: 36px; text-align: center; width:100%;" flex="40">{{itr.startDate}} - {{itr.endDate}}</span>
                    <span style="display: block; font-size: 15px; font-weight: 500; line-height: 50px; text-align: center; width:100%;" flex>{{itr.company}}</span>
                  </md-whiteframe>
                  <div ng-style='{"position": "relative"}'>
                    <img src="{{itr.icon}}" class="avatar"></img>
                    <div class="line dashed" ng-style='{"height": "{{itr.lineHeight}}"}' ng-show="{{!$last}}" > </div>
                  </div>
                  <md-whiteframe class="md-whiteframe-2dp employmentDetail" flex="50" layout="column" layout-align="right center" style="margin:30px; padding: 16px 0;">
                    
                    <h3 style="margin: 0 16px">{{itr.position}}</h3>
                    <div style="height:1px; width: 100%; background-color:#cccccc; margin: 16px 0"></div>
                    <ul class="zeroMargin">
                      <md-list style="padding:0;">
                        <md-list-item ng-repeat="element in itr.description">
                          <li>
                            <span class="md-body-1">{{element.text}}</span>
                          </li>
                        </md-list-item>
                      </md-list>
                    </ul>
                  </md-whiteframe>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>

  </md-content>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/HomePage.js"></script>
    <script src="./src/controllers/HomePageController.js"></script>
    <script src="./src/services/WorkExperienceService.js"></script>
    <script src="./src/services/SkillsService.js"></script>
    <script src="./src/tweaks.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'homePage'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
