<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Ben White</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" ng-controller="HomePageController as ul" ng-cloak >

  <md-content flex layout="column" tabIndex="-1" role="main">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1>Ben White</h1>
    </md-toolbar>

    <md-content flex id="content">
      <md-list>
        <md-list-item ng-repeat="itr in ul.workExp">
          <md-whiteframe class="md-whiteframe-2dp" flex="20" layout="column" layout-align="left center" style="margin:30px; height:80px">
            <span style="display: block; background-color: rgb(33, 150, 243); color:white; font-weight: 700; line-height: 36px; text-align: center;" flex="40">{{itr.startDate}} - {{itr.endDate}}</span>
            <span style="display: block; font-size: 15px; font-weight: 500; line-height: 50px; text-align: center;" flex>{{itr.company}}</span>
          </md-whiteframe>
          <md-icon md-svg-icon="{{itr.icon}}" class="avatar"></md-icon>
          <md-whiteframe class="md-whiteframe-2dp" flex="50" layout="column" layout-align="right center" style="margin:30px; padding: 16px 0;">
            <h3 style="margin: 0 16px">{{itr.position}}</h3>
            <ul style="margin:0;">
              <md-list style="padding:0;">
                <md-list-item ng-repeat="element in itr.description">
                  <li>
                    <span>{{element.text}}</span>
                  </li>
                </md-list-item>
              </md-list>
            </ul>
          </md-whiteframe>
          
        </md-list-item>
      </md-list
    </md-content>

  </md-content>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/HomePage.js"></script>
    <script src="./src/controllers/HomePageController.js"></script>
    <script src="./src/services/WorkExperienceService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'homePage'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
